.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.landmark {
  background-color: lightgrey;
  height: 35px;
  width: 33px;
  border-bottom-left-radius: 25%;
  border-top-left-radius: 25%;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
  font-size: 0.75rem;
}

.search-bar {
height: 48px;
border-color: white;
}

.search {
display: flex;
}

.filters {
display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-wrapper {
display: inline-flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-around;
  white-space: nowrap;
}

.filter {
background-color: white;
  border-radius: 30px;
  border-color: lightgray;
  font-size: 1rem;
}

.icon {
    background-color: #DEEBFF;
  height: 30px;
  width: 39px;
  border-radius: 50%;
  text-align: center;
  padding-top: 2px;
  vertical-align: middle;
  margin-left: -6px;
  color: #0065FC;
  font-size: 0.75rem;
}