.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.landmark {
  background-color: lightgrey;
  height: 35px;
  width: 33px;
  border-bottom-left-radius: 25%;
  border-top-left-radius: 25%;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
  font-size: 0.75rem;
}

.search-bar {
height: 48px;
border-color: white;
}

.search {
display: flex;
}

.solid {
  display:flex;
}

.filters {
display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn-wrapper {
display: inline-flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-around;
  white-space: nowrap;
}

.filter {
background-color: white;
  border-radius: 30px;
  border-color: lightgray;
  font-size: 1rem;
}

.icon {
    background-color: #DEEBFF;
  height: 30px;
  width: 39px;
  border-radius: 50%;
  text-align: center;
  padding-top: 2px;
  vertical-align: middle;
  margin-left: -6px;
  color: #0065fc;
  font-size: 1.5rem;
}
/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  .activ {
    padding-bottom: 5%;
    width: 98%;
    padding-right: 10px;
    padding-left: 10px;
   }

.activ-card-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activ-card {
    border-radius: 15px;
    background-color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 20%;
    box-shadow: 10px 5px 5px #f2f2f2;
}

.activ-card a{
    color: black;
    text-decoration: none;
    font-size: .75rem;
}

.activ h3 {
    margin-left: 3%;
}

.activ-card img{
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.large img {
    height: 768px;
}

.line img {
    height: 210px;
}

.island img{
    height: 90px;
}

.notre img{
    height: 120px;
}

.longchamp img{
    height: 180px;
}

.second, .fourth {
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.second .activ-card, .fourth .activ-card{
    width: 100%;
    justify-content: space-between;
}

}